<h1>Log in</h1>
<form method="post" id="mainForm">
  <p class="error" id="error"></p>

  <fieldset>
    <legend>Your account</legend>
    <ol>
      <li>
        <label for="email">Email</label>
        <input id="email" type="email" name="email" autofocus>
      </li>
      <li>
        <label for="password">Password</label>
        <input id="password" type="password" name="password">
      </li>
    </ol>
  </fieldset>

  <p class="actions"><button type="submit" name="submit">Log in</button></p>

  <ul class="actions">
    <li><a id="register-link" href="" class="link">Sign up</a></li>
    <li><a id="forgot-link"  href="" class="link">Forgot password</a></li>
  </ul>
</form>


<script>
  addPostListener('mainForm', 'error', '', () => { throw new Error('Expected a location field in the response.') });

  addControlLinks('<%= idpIndex %>', { 'register-link': 'register', 'forgot-link': 'forgotPassword'});
</script>
